
  <div class="flex items-center justify-between w-6/12">
    <p class="text-red-800 pr-8"><%=" Expéditeur " + email.sender %></p>
    <turbo-frame id="<%= dom_id email %>" class="block">
    <%= link_to "Ouvrir le mail", email_path(email), class: "btn bg-gray-100" %>
    </turbo-frame>
  </div> 

