<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>
<h1 class="font-bold text-2xl">Email</h1>

<div class="mt-4">
  <%= render "form", email: @email %>
</div>


<div id="previews">
  <div class="px-5">
    <%= render @previews %>
  </div>
</div>






